.searchbox {
    background-color: #f3f6fd;
    border: 1px solid #f3f6fd;
    color: #1f1c2e;
    font-size: small;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 10px 0px 15px;
    margin-left: 15px;
    margin-right: 8px;
    height: 32px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    width: 100%;
    max-width: 260px;
    transition: 0.2s;
  }