.Login--header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Login--mainLogo {
    width: 100px;
    margin-left: 25px;
}

.Login--companyName {
    text-align: center;
    /* align-self: center; */
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.Login--emailSpan {
    margin-top: 25px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.Login--passwordSpan {
    margin-top: 25px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.Login--content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
    box-sizing: border-box;
    /* width: 50%; */
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background-color: white;
}

.Login--labels {
    display: block;
    /* margin-top: 15px; */
    margin-right: 15px;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: start; */
    /* padding-left: 10px; */
}

.Register--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 50px;
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    background-color: white;
}

.Register--labels {
    display: block;
    margin-top: 15px;
}

/* .email-header {
    margin-right: 50px;
} */

.username--div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.email--div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.password--div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.confirmPassword--div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}