html {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    height: auto;
    margin: 0;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    height: 100%;
    margin: 0;
  }